version: '3.8'
services:
  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  backend:
    build: ./app
    container_name: java-backend
    depends_on:
      - db
    ports:
      - "8080:8080"

  web:
    build: ./webapp
    container_name: web-ui
    depends_on:
      - backend
    ports:
      - "8081:8080"
